<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="deployPath" value="/demo/wpal" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />        
        <add value="public/index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    <rewrite>
      <rules>
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode" />
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>       
        <rule name="Api" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern=".*?demo\/wpal\/api\/(.*)" />
          </conditions>
          <action type="Rewrite" url="server.js" logRewrittenUrl="true" />
        </rule>
        <rule name="StaticContent" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern=".*?demo\/wpal\/(.*)" />
          </conditions>
          <action type="Rewrite" url="public/{C:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="DynamicContent" patternSyntax="ECMAScript">
          <match url=".*" />
          <conditions>
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
